/* default container */
.container-md{
    padding: 0 40px;
}
.container-sm{
    padding: 0 100px;
}
.container-xs{
    padding: 0 25%;
}
.container-xxs{
    padding: 0 30%;
}

/* Image  */
img{
    margin-bottom: -4px;
    width: 100%;
    object-fit: cover;
}

i{
    color: var(--color-primary-blue);
    font-size: 6rem;
}
strong{
    font-size: 1rem;
    padding-left: .5rem;
    letter-spacing: 2px;
}
.txt-lg{
    font-size: 2.5rem;
}
.txt-md{
    font-size: 2rem;
}
.txt-sm{
    font-size: 1.5rem;
}
.min-weight{
    font-weight: lighter;
}
.text-blue{
    color: var(--color-primary-blue);
}
.text-purple{
    color: var(--color-primary-purple);
}
.text-align{
    text-align: center;
}
.purple{
    background-color: var(--color-primary-purple);
}


.pd-1all{
    padding: 1rem;
}
.pd-2all{
    padding: 2rem;
}
.pd-1t-1b{
    padding: 1rem 0;
}
.pd-2t-2b{
    padding: 2rem 0;
}
.pd-1r-1l{
    padding: 0 1rem;
}
.pd-2r-2l{
    padding: 0 2rem;
}

.mg-2all{
    margin: 2rem;
}
.mg-2t-2b{
    margin: 2rem 0;
}
.mg-1t{
    margin-top: 1rem;
}
.mg-2t{
    margin-top: 2rem;
}

.default-bt{
border: 0;
padding: .9rem 4.5rem;
border-radius: 1.5rem;
}
button:hover{
    cursor: pointer;
}


