/* Image  */
img{
    margin-bottom: -11px;
    width: 100%;
    object-fit: contain;
}
.testimonial-container img,
.about-container img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/***************** Text **************/
strong{
    font-size: 1rem;
    padding-left: .5rem;
    letter-spacing: 2px;
}
.txt-xl{
    font-size: 3.5rem;
}
.txt-lg{
    font-size: 2.5rem;
}
.txt-md{
    font-size: 2rem;
}
.txt-sm{
    font-size: 1.5rem;
}
.min-weight{
    font-weight: lighter;
}
.text-blue{
    color: var(--color-primary-blue);
}
.text-purple{
    color: var(--color-primary-purple);
}
.text-white{
    color: white;
}
.text-gold{
    color: var(--color-big-font);
}
.text-align{
    text-align: center;
}
.text-left{
    text-align: left;
}

/* *********** Padding and Margin **************** */
.pd-1all{
    padding: 1rem;
}
.pd-2all{
    padding: 2rem;
}
.pd-1t-1b{
    padding: 1rem 0;
}
.pd-2t-2b{
    padding: 2rem 0;
}
.pd-3t-2b{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.pd-1r-1l{
    padding: 0 1rem;
}
.pd-2r-2l{
    padding: 0 2rem;
}

.mg-2all{
    margin: 2rem;
}
.mg-2t-2b{
    margin: 2rem 0;
}
.mg-1t{
    margin-top: 1rem;
}
.mg-2t{
    margin-top: 2rem;
}

/************* Button ********************/

.default-bt{
border: 0;
padding: .9rem 2.5rem;
border-radius: 1.5rem;
}
button:hover{
    cursor: pointer;
}
.blue-bt {
    color: white;
    background-color: var(--color-primary-blue);

}
.purple-bt {
    color: white;
    background-color: var(--color-primary-purple);
}
.bt-arrow {
    border: none;
    background-color: white;

}
.small-bt {
    border: 0;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}


